# Author:  Meryll Dindin
# Date:    November 04, 2020
# Project: CalAster

# cache
*.pyc
*.ipynb
__pycache__
.ipynb_checkpoints

# jupyter server
jupyter/

# environment
bin/
etc/
lib/
lib64
share/
include/
pyvenv.cfg

# secrets
aws.pem
configs/
control.py
