Werkzeug==2.0.0
requests==2.25.1
PyMySQL==1.0.2
fastapi==0.65.1
PyJWT==2.1.0
python-dotenv==0.17.1
PyYAML==5.4.1
gunicorn==20.1.0
uvicorn==0.13.4
uvloop==0.15.2
stringcase==1.2.0
cryptography==3.4.7
httptools==0.2.0
