pytz==2021.1
PyMySQL==1.0.2
sodapy==2.1.0
fastapi==0.65.1
pydantic==1.8.2
starlette==0.14.2
python-dotenv==0.17.1
python_dateutil==2.8.1
gunicorn==20.1.0
uvicorn==0.13.4
uvloop==0.15.2
httptools==0.2.0
